.user-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: aquamarine;
  display: flex;
  padding: 15px;
  width: 100%;
}

.hand-rank-div {
  padding-left: 10px;
  padding-right: 10px;
}
