.poker-table {
  background-image: url("/assets/poker_table.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 850px;
  height: 400px;
  border-radius: 2px;
}

.community-cards-container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 20%;
  left: 15%;
  height: 150px;
}

.community-cards-container card {
  padding-right: 15px;
  width: 100px;
  height: 200px;
}

.table-stats {
  position: relative;
  top: 15%;
  left: 10%;
  padding: 25px;
}

.pot {
  color: gold;
  float: left;
  padding-right: 25px;
}

.bet {
  float: left;
  color: white;
  padding-right: 25px;
}

.round {
  color: blue;
}
